<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>绿酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡尾酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>高粱酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>汾酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>茅台</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>啤酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>五粮液</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>女儿红</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>红酒</string>
		<key>image</key>
		<string>1.png</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
</array>
</plist>
